#container{
	background-color: #DB7093;
	width 			    : 800px;
	height  		    : 900px;
	position: relative;
}

.cuadrito{
	position: absolute;
	box-sizing: border-box;
	background-color: #FFEFD5;
	width						: 200px;
	height					: 200px;
	position 				: absolute;
	border-radius: 31px 31px 31px 31px;
	-moz-border-radius: 31px 31px 31px 31px;
	-webkit-border-radius: 31px 31px 31px 31px;
	border: 0px solid #000000;
}

.cuadrito:hover {
	background-color: #FFB6C1;
}

.cuadrito[clicked="j1"] {
  background-size: contain;
  background-image: url("circle.svg");
  width: 200px;
  height: 200px;
}

.cuadrito[clicked="j2"] {
  background-size: contain;
  background-image: url("cross.svg");
  width: 200px;
  height: 200px;
}

#alert{
	background-size: contain;
	position: absolute;
  width: 300px;
  height: 200px;
	background-color: #DB7093;
}

#position1{
  left						: 100px;
  top							: 200px;
}


#position2{
	border-right 	  : 6px solid #DB7093;
	border-left 		: 6px solid #DB7093;
	left						: 300px;
	top							: 200px;
}

#position3{
	left						: 500px;
	top							: 200px;
}

#position4{
	border-top 	    : 6px solid #DB7093;
	border-bottom  	: 6px solid #DB7093;
  left						: 100px;
  top							: 400px;
}

#position5{
	border 				  : 6px solid #DB7093;
	left						: 300px;
	top							: 400px;
}

#position6{
	border-top 	    : 6px solid #DB7093;
	border-bottom  	: 6px solid #DB7093;
  left						: 500px;
  top							: 400px;
}

#position7{
	left						: 100px;
	top							: 600px;
}

#position8{
	border-right 	  : 6px solid #DB7093;
	border-left 		: 6px solid #DB7093;
	left						: 300px;
	top							: 600px;
}

#position9{
	left						: 500px;
	top							: 600px;
}

h1{
  font-family	: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color				: #FFEFD5;
	font-size: 35px;
	text-align: center;
}
